<%= form_for(@cleaning_duty) do |f| %>
  <% if @cleaning_duty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cleaning_duty.errors.count, "error") %> prohibited this cleaning_duty from being saved:</h2>

      <ul>
      <% @cleaning_duty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% target_members = Member.where(:cleaning_duty_target => true) %>
  <div class="field">
    <%= f.label :dust1, "ごみすて1" %><br />
    <%= f.collection_select(:dust1, target_members, :name, :name) %>
  </div>
  <div class="field">
    <%= f.label :dust2, "ごみすて2" %><br />
    <%= f.collection_select(:dust2, target_members, :name, :name) %>
  </div>
  <div class="field">
    <%= f.label :cleaner1, "掃除機1" %><br />
    <%= f.collection_select(:cleaner1, target_members, :name, :name) %>
  </div>
  <div class="field">
    <%= f.label :cleaner2, "掃除機2" %><br />
    <%= f.collection_select(:cleaner2, target_members, :name, :name) %>
  </div>
  <div class="field">
    <%= f.label :table1, "テーブル1" %><br />
    <%= f.collection_select(:table1, target_members, :name, :name) %>
  </div>
  <div class="field">
    <%= f.label :table2, "テーブル1" %><br />
    <%= f.collection_select(:table2, target_members, :name, :name) %>
  </div>
  <div class="field">
    <%= f.label :start_day %><br />
    <%= f.date_select :start_day %>
  </div>
  <div class="field">
    <%= f.label :end_day %><br />
    <%= f.date_select :end_day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
